# برای مدل LaDI-VTON (مدل‌های دیپ لرنینگ پایه)
torch>=1.10.0
torchvision>=0.11.1
numpy
opencv-python
Pillow
tqdm
scikit-image
matplotlib
yacs
einops
tensorboard
imageio

# برای ربات تلگرام
python-telegram-bot==20.6

# اگر از HuggingFace مدل یا tokenizer بارگذاری می‌کنید
transformers
diffusers
accelerate

# اگر از json config و فایل‌های yaml استفاده می‌کنید
pyyaml

# برای اطمینان از کار با GPU و CUDA
nvidia-ml-py3
